body {
    background-color: #0F0;
    font-size: 32px;
    font-weight: bold;
    color: white;
    -webkit-font-smoothing: none;
}

#result {
    bottom: 0px;
    position: fixed;
    left: 15px;
}

.finalText {
    color: white;
}

.pendingText {
    color:#999;
}